*{
    margin: 0;
    padding: 10;
    background-color: whitesmoke;
    margin-top: 15px; 
   margin-bottom: 15px;
}

body{
    padding: 0 15px 0 15px;
    margin-left: 100px;
    margin-right: 100px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    padding: 30px;
    border-radius: 15px;
}

.main img{
    border-radius: 20%;
    width: 80%;
    padding: 20px 100px;
   margin-top: 15px; 
   margin-bottom: 15px;
  }

input{
    background-color: whitesmoke;
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border-radius: 5px;
}

textarea{
    width: 100%;
    height: 150px;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: #f8f8f8;
    resize: none;
}

button{
    margin-top: 10px;
    width: 100%;
    height: 30px;
    border-radius: 5px;
    border-color: green;
    background-color: green;
    color: white;
    font-weight: bolder;
    font-size: 1rem;
}

.container{
  background-color: #715252 ;
  display:inline-flex; 
justify-content: center;
  width: 100%;
}
.container img{
    border-radius: 20%;

  }

.CARD1{
    background: #fff;
    text-align: center;
    border-radius: 13%;
    padding: 20px;
    margin: 20px;
    width: 350px; 
}
.CARD1 button{
    border-radius: 20%;
    
}
.CARD1 h4 {
color:blue;

}
.CARD2{
    background: #fff;
    text-align: center;
    border-radius: 13%;
    padding: 20px;
    margin: 20px;
    width: 350px; 
}
.CARD2 button{
    border-radius: 20%;
    
}
.CARD2 h4 {
    color:rgb(238, 18, 69);
    
    }

.CARD3{
    background: #fff;    
    text-align: center;
    border-radius: 13%;
    padding: 20px;
    margin: 20px;
    width: 350px; 
}
.CARD3 button{
    border-radius: 20%;
    
}
.CARD3 h4 {
    color:rgb(90, 230, 85);
    
    }

    #visita{ 
color:red;
margin-top: 15px; 
margin-bottom: 15px;
text-align: center;
    }


    .container2{
        background-color: #715252 ;
        display:inline-flex; 
      justify-content: center;
        width: 100%;


    }
    .container2 img{
       display: inline-flex;
       width:auto;

    }
    .container2 h2{
        color:blue;
        margin-top: 15px; 
        margin-bottom: 15px;
        text-align: center;
 
     }

.col-sm-6{
    padding: 30px;
    flex:1 1 50%;
    margin-top: 15px; 
margin-bottom: 15px;
}   

.col-sm-6 img{
    border-radius: 20%;
    text-align: center;

}

